.foot{
	text-align: center; 
	line-height: 130%;
	padding: 0.1%;
}

.pane{
	background: url(../img/edificio.jpg) no-repeat 50px 50%;
	cursor: pointer;
	transition: 1.3;
}

.pane:hover{
	transform: scale(0.9);
}